*{    box-sizing: border-box;}
body{
background-color:#EAA486;
margin:0px;
padding:0px;
font-size: 65%;
height: 100%;
}
header{
width:100%;
height:15%;
box-shadow: 0 0 5px 2px;
background: url(images/fon11.jpg) no-repeat center top #7D262F;
background-size: 100%;
text-align: right;
}
header p{
	text-align: right;
	color:#F4B3B4;
	font: italic bolder 3em Segoe Print;
	padding-right: 5%;
  padding-top: 1%;
	text-shadow: #960830 3px 3px 5px;
}
#container{
	display: flex;
	width: 100%;
}
#menu{
 width:15%;
 border:4px solid #7D262F;
 border-top-style: none;
 border-bottom-style: none;
 margin:0;
 padding:1%;
 background:#AB4451;
 box-shadow: inset 0 0 5px 2px;
}
#menu a{
 font: italic bolder 1.6vw Segoe Print;
 color:#F4B3B4;
 text-decoration:none;
 display:block;
 line-height: 100%;
}
#menu a:hover{
 color:#2b3845;
 text-decoration:underline;
}
#menu2{
	position: fixed;
  width:9%;
}
#main{
	width: 90%;
}
#maslo, #aquarel, #pastel, #material {
 width:100%;
 border-bottom: 1px solid #7D262F;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
h1{
font: italic bolder 170% Segoe Print;
text-align: center;
color:#6F252C;
text-decoration: underline;
}
footer{
width:100%;
height: 8%;
background:#AB4451;
border:4px solid #7D262F;
padding: 0.4% 2% 0 0;
font: bolder 100% Segoe Print;
}
footer span{
	text-align: right;
	color:#F4B3B4;
	float:right;
	font-size: 15px;
}
#inst{
	width:30px;
	float:right;
}
#box{
	flex-grow: 1;
	max-width: 350px;
	max-height:350px;
	text-align: center;
}
#imggoriz{
	width:80%;
  box-shadow: 0 0 5px 3px;
	cursor: pointer;
}
#imgvertic{
	width:55%;
  box-shadow: 0 0 5px 3px;
	cursor: pointer;
}
 p{
	color:#6F252C;
	font: bolder 100% Segoe Print;
}
#author {
 width: 85%;
 height: 77%;
 border:1px solid #7D262F;
 float: right;
}
#text{
width:60%;
height: 80%;
margin:1%;
font: bolder 0.9vw Segoe Print;
color:#6F252C;
float: left;
border:1px solid #7D262F;
padding: 1%;
padding-top: 0;
}
#foto {
	width:25%;
	float: left;
	margin:2% 0% 0% 3%;
	border:2px solid #7D262F;
}

@media screen and (max-width: 700px)
{#text{font-size: 1.2vh;}}
