*{    box-sizing: border-box;}
body{
/* background-color:#EAA486; */
background-color: #F6C8BC;
margin:0px;
padding:0px;
font-size: 65%;
height: 100%;
}
#modal{
	position: fixed;
	background-color:#9C494E;
	z-index: 105;
	height: 80vh;
	width: 60vw;
	top: 10vh;
	left: calc( 50% - 30vw ); -webkit-left: calc( 50% - 30vw );-ms-left: calc( 50% - 30vw );
	border-radius: 0.33vw;
	border: 1px solid white;
	display: flex; display: -webkit-box;display: -ms-flexbox;display:-webkit-flex;
	align-items:center;-webkit-align-items:center;-ms-align-items:center;
	justify-content:space-between;-webkit-justify-content:space-between;-ms-justify-content:space-between;
}
.closeBtn{
	position: absolute;
	z-index: 126;
	right: 0;
	top: 0;
	cursor: pointer;
	height: 8vh;
	width: 8vh;
	background-image: url('./images/close.png');
	background-size: 100% 100%;
}
#black_fill{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #191818ba;
	z-index: 101;
	top: 0;
	left: 0;
	display: none;
  }
  #black_fill.open {
	display: block !important;
  }
header{
width:100%;
height:15%;
box-shadow: 0 0 5px 2px;
background: url(images/fon11.png) no-repeat center top #7D262F;
background-size: 100%;
text-align: right;
}
header p{
	text-align: right;
	color:#FAE1DB;
	font: italic bolder 3em Segoe Print;
	padding-right: 5%;
  padding-top: 1%;
	text-shadow: #960830 3px 3px 5px;
}
#container{
	display: flex;
	width: 100%;
}
#menu{
 width:15%;
 border:4px solid #7D262F;
 border-top-style: none;
 border-bottom-style: none;
 margin:0;
 padding:1%;
 background-color:#9C494E;
 box-shadow: inset 0 0 5px 2px;
}
#menu a{
 font: italic bolder 1.6vw Segoe Print;
 color:#FAE1DB;
 text-decoration:none;
 display:block;
 line-height: 100%;
 margin-left: 1vw;
}
#menu a:hover{
 color:#2b3845;
 text-decoration:underline;
}
#menu2{
	position: fixed;
  width:9%;
}
#main{
	width: 90%;
}
#maslo, #aquarel, #pastel, #material {
 width:100%;
 border-bottom: 1px solid #7D262F;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
h1{
font: italic bolder 170% Segoe Print;
text-align: center;
color:#6F252C;
text-decoration: underline;
}
footer{
width:100%;
height: 8%;
background:#AB4451;
border:4px solid #7D262F;
padding: 0.4% 2% 0 0;
font: bolder 100% Segoe Print;
}
footer span{
	text-align: right;
	color:#F4B3B4;
	float:right;
	font-size: 15px;
}
#inst{
	width:30px;
	float:right;
}
.box{
	flex-grow: 1;
	max-width: 350px;
	max-height:350px;
	text-align: center;
}
.imggoriz{
	width:80%;
  box-shadow: 0 0 5px 3px;
	cursor: pointer;
}
.imgvertic{
	width:55%;
  box-shadow: 0 0 5px 3px;
	cursor: pointer;
}
 p{
	color:#6F252C;
	font: bolder 100% Segoe Print;
}
#author {
 width: 85%;
 height: 77%;
 border:1px solid #7D262F;
 float: right;
}
#text{
width:60%;
height: 80%;
margin:1%;
font: bolder 0.9vw Segoe Print;
color:#6F252C;
float: left;
border:1px solid #7D262F;
padding: 1%;
padding-top: 0;
}
#foto {
	width:25%;
	float: left;
	margin:2% 0% 0% 3%;
	border:2px solid #7D262F;
}

@media screen and (max-width: 700px)
{#text{font-size: 1.2vh;}}
