body{
background-color:#EAA486;
margin:0px;
padding:0px;
font-size: 65%;
height: 100%;
}
header{
width:100%;
height:15%;
box-shadow: 0 0 5px 2px;
background: url(images/fon11.jpg) no-repeat center top #7D262F;
background-size: 100%;
text-align: right;
}
header p{
	text-align: right;
	color:#F4B3B4;
	font: italic bolder 3em Segoe Print;
	padding-right: 5%;
    padding-top: 1%;
	text-shadow: #960830 3px 3px 5px;
}
#menu{
 width:10%;
 height:80%;
 border:3px solid #7D262F;
 border-top-style: none;
 border-bottom-style: none;
 margin:0;
 padding:1%;
 background:#AB4451;
 position:absolute;
 top:15%;
 box-shadow: inset 0 0 5px 2px;
}
#menu a{
 font: italic bolder 1.6vw Segoe Print;
 color:#F4B3B4;
 text-decoration:none;
 display:block;
 line-height: 100%;
}
#menu a:hover{
 color:#2b3845;
 text-decoration:underline;
 display:block;
}
#menu a.active {
color: #EAA486;
}
#butt {
	margin:4%;
	margin-bottom: 1%;
	margin-left:20%;
	background-color: #AB4451;
	font: bolder 1.5vw Segoe Print;
	color:#F4B3B4;
	box-shadow: brown 0 0 5px 2px;
}
#parentDiv, #clonedDiv {
width: 25%;
margin:0.5%;
margin-left:20%;
padding: 0.5%;
font: bolder 1vw Segoe Print;
text-align: center;
color:#6F252C;
border:1px solid #7D262F;
}

p{
	color:#6F252C;
	font: italic bolder 100% Segoe Print;
}

#otz {text-align: center;}
