* {
	box-sizing: border-box;
}

body {
	background-color: #F6C8BC;
	margin: 0px;
	padding: 0px;
	font-size: 65%;
	height: 100%;
}

#modal {
	display: none;
	position: fixed;
	background-color: #9C494E;
	z-index: 105;
	top: 10vh;
	left: 20vw;
	align-items: center;-webkit-align-items: center;-ms-align-items: center;
	justify-content: center;-webkit-justify-content: center;-ms-justify-content: space-between;
}
.ModalForImgVertic{
	left: 40vw !important;
}

.closeBtn {
	position: absolute;
	z-index: 126;
	right: 0;
	top: 0;
	cursor: pointer;
	height: 8vh;
	width: 8vh;
	background-image: url('./images/close.png');
	background-size: 100% 100%;
}

#black_fill {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #191818ba;
	z-index: 101;
	top: 0;
	left: 0;
	display: none;
}

#black_fill.open {
	display: block !important;
}

header {
	width: 100%;
	height: 15vh;
	box-shadow: 0 0 5px 2px;
	background: url(images/fon11.png) no-repeat center top #7D262F;
	background-size: 100%;
	text-align: right;
}

header p {
	text-align: right;
	color: #FAE1DB;
	font: italic bolder 3em Segoe Print;
	padding-right: 5%;
	padding-top: 1%;
	text-shadow: #960830 3px 3px 5px;
}

.container {
	display: flex;
	width: 100%;
	min-height: 77vh;
}

#menu {
	width: 15%;
	border: 4px solid #7D262F;
	border-top-style: none;
	border-bottom-style: none;
	margin: 0;
	padding: 1%;
	background-color: #9C494E;
	box-shadow: inset 0 0 5px 2px;
}

#menu a {
	font: italic bolder 1.6vw Segoe Print;
	color: #FAE1DB;
	text-decoration: none;
	display: block;
	line-height: 100%;
	margin: 2vw 1vw;
}

#menu a:hover {
	color: #2b3845;
	text-decoration: underline;
}

#menu2 {
	position: fixed;
	width: 9%;
}

#main {
	width: 90%;
}

#maslo, #aquarel, #pastel, #material {
	width: 100%;
	border-bottom: 1px solid #7D262F;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	font: italic bolder 170% Segoe Print;
	text-align: center;
	color: #6F252C;
	text-decoration: underline;
}

footer {
	width: 100%;
	height: 8vh;
	background: #AB4451;
	border: 4px solid #7D262F;
	padding: 0.4% 2% 0 0;
	font: bolder 100% Segoe Print;
}

footer span {
	text-align: right;
	color: #F4B3B4;
	float: right;
	font-size: 15px;
}

#inst {
	width: 30px;
	float: right;
	cursor: pointer;
}

.box {
	flex-grow: 1;
	max-width: 350px;
	max-height: 350px;
	text-align: center;
}

.imggoriz {
	width: 80%;
	box-shadow: 0 0 5px 3px;
	cursor: pointer;
}

.imgvertic {
	width: 55%;
	box-shadow: 0 0 5px 3px;
	cursor: pointer;
}

p {
	color: #6F252C;
	font: bolder 100% Segoe Print;
}

#author {
	width: 85%;
	min-height: 70vh;
	float: right;
}

.authorFlex {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
}

#text {
	width: 60%;
	height: 80%;
	margin: 1%;
	font: bolder 1.2vmax Segoe Print;
	color: #6F252C;
	padding: 1%;
	padding-top: 0;
}

#foto {
	width: 25%;
	border: 2px solid #7D262F;
}

.BigImgVertic{
	width: 80vw;
	height: auto;
}
.BigImgGoriz{
	height: 80vh;
	width: auto;
}

@media (max-width: 600px) {
	.container {
		flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		min-height: 82vh;
	}

	header {
		height: 10vh;
		font-size: 2.2vw;
	}

	#menu {
		width: 100%;
	}

	#menu a {
		font-size: 5vw;
	}

	#menu2 {
		width: 100%;
		position: static;
		text-align: center;
	}

	#main {
		width: 100%;
	}

	#author {
		width: 100%;
	}

	.authorFlex {
		flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
	}

	#text {
		width: 80%;
		font: bolder 2.6vmax Segoe Print;
	}

	#foto {
		width: 50%;
		border: 2px solid #7D262F;
	}

	#modal {
		top: 30vh;
		left: 10vw;
	}

	.ModalForImgVertic{
		top: 15vh !important;
		left: 10vw !important;
	}
	
	.BigImgVertic{
		height: 80vh;
		width: auto;
	}

	.BigImgGoriz{
		width: 80vw;
		height: auto;
	}
	
}